<div class="popup" *ngIf="showPopup">
    <div class="popup-header">
        <h2>Create List</h2>
        <div (click)="onClosePopup()">X</div>
    </div>
    <div class="container-item">
        <div class="items" *ngFor="let item of items">
            <div class="item">
                <div class="item-card">
                    <h3 class="item-name">{{item.name}}</h3>
                    <mat-checkbox class="example-margin"  [disabled]="isParameterOk(item)"  (change)="onCheckboxChange($event.checked, item)">Add</mat-checkbox>
                </div>
            </div>
        </div>
        <button class="btn" mat-button (click)="Save()">Add items to list</button>
    </div>
</div>